apiVersion: addon.tvs.io/v1alpha1
kind: AddonConfig
metadata:
  name: vspherecpi-config
spec:
  type: vspherecpi
  values:
    vsphereCPI:
      antreaNSXPodRoutingEnabled: false
      mode: vsphereCPI
      tlsCipherSuites: TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305,TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
      vmNetwork:
        excludeExternalSubnetCidr: 10.92.162.220/32
        excludeInternalSubnetCidr: 10.92.162.220/32
