apiVersion: addon.tvs.io/v1alpha1
kind: AddonConfig
metadata:
  name: antrea-config-invalid
spec:
  type: antrea-changed
  target:
    name: my-cluster
  values:
    trafficEncapMode: encap
    noSNAT: false
    disableUdpTunnelOffload: false
    defaultMTU: ""
    tlsCipherSuites: TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384,TLS_RSA_WITH_AES_256_GCM_SHA384
    featureGates:
        AntreaProxy: true
        EndpointSlice: false
        AntreaPolicy: true
        FlowExporter: false
        Egress: false
        NodePortLocal: false
        AntreaTraceflow: true
        NetworkPolicyStats: false
