apiVersion: addon.tvs.io/v1alpha1
kind: AddonConfigDefinition
metadata:
  name: antrea
spec:
  dependencies:
    - name: mySecret
      target:
        apiVersion: v1
        kind: Secret
        name: my-big-secret
    - name: myMachineDeployment
      target:
        apiVersion: cluster.x-k8s.io/v1beta1
        kind: MachineDeployment
        selector:
          matchLabels:
            cluster.x-k8s.io/cluster-name: "{{index .Default.Cluster.metadata.name}}"
  schema:
    openAPIV3Schema:
      type: object
      properties:
        trafficEncapMode:
          type: string
        noSNAT:
         type: boolean
        disableUdpTunnelOffload:
          type: boolean
        defaultMTU:
          type: string
        tlsCipherSuites:
          type: string
        featureGates:
          type: object
          properties:
            AntreaProxy:
              type: boolean
              default: true
            EndpointSlice:
              type: boolean
              default: false
            AntreaPolicy:
              type: boolean
              default: true
            FlowExporter:
              type: boolean
              default: false
            Egress:
              type: boolean
              default: false
            NodePortLocal:
              type: boolean
              default: false
            AntreaTraceflow:
              type: boolean
              default: true
            NetworkPolicyStats:
              type: boolean
              default: false
  templateTarget:
    apiVersion: v1
    kind: Secret
    name: "{{.Default.Cluster.Metadata.Name}}-antrea-values"
  template: |
    infraProvider: {{.Default.Infrastructure}}
    antrea:
      config:
        myClusterName: {{index .Default.Cluster.metadata.name}}
        secretRelatedField: {{index .Dependencies.mySecret.metadata.name}}}
        mdRelatedField: {{index .Dependencies.myMachineDeployment.spec.template.spec.bootstrap.configRef.name}}}
        trafficEncapMode: {{.Values.trafficEncapMode}}
        noSNAT: {{.Values.noSNAT}}
        disableUdpTunnelOffload: {{.Values.disableUdpTunnelOffload}}
        defaultMTU: {{.Values.defaultMTU}}
        tlsCipherSuites: {{.Values.tlsCipherSuites}}
        featureGates:
          AntreaProxy: {{.Values.featureGates.AntreaProxy}}
          EndpointSlice: {{.Values.featureGates.EndpointSlice}}
          AntreaPolicy: {{.Values.featureGates.AntreaPolicy}}
          FlowExporter: {{.Values.featureGates.FlowExporter}}
          Egress: {{.Values.featureGates.Egress}}
          NodePortLocal: {{.Values.featureGates.NodePortLocal}}
          AntreaTraceflow: {{.Values.featureGates.AntreaTraceflow}}
          NetworkPolicyStats: {{.Values.featureGates.NetworkPolicyStats}}
